@font-face {
    font-family:'saiyan-sans';
    src: url('../assets/fonts/Saiyan-Sans.ttf') format('truetype');
    src: url('../assets/fonts/Saiyan-Sans\ Left\ Oblique.ttf') format('truetype');
    src: url('../assets/fonts/Saiyan-Sans\ Right\ Oblique.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: rgb(231, 106, 36);
    --secundary: rgb(28, 69, 149);
    --txColor: white;
    --error: red;
    font-size: 16px;
}

/* COMEÇO HEADER */

h1, h2:not(h2.name){
    font-family: 'saiyan-sans', Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--primary);
}

header .container {
    justify-content: space-between;
}

header .container img {
    width: 200px;
}

header a {
    text-decoration: none;
    color: var(--txColor);
    font-family: 'saiyan-sans', Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
    font-size: 1.4rem;
}

header a:hover {
    border-bottom: 3px solid var(--txColor);  
}

header .active {
    font-weight: 800;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: var(--txColor);
}

#sessionName, #sessionNameProfile {
    text-transform: capitalize;
    font-family: Arial;
    font-size: 1rem;
}


/* header .container h1 {
    color: var(--primary);
    width: fit-content;
    font-weight: 500;
    font-size: 2.5rem;
} */
/* FIM HEADER */


/* COMEÇO BANNER */

section.carrossel .container {
    position: relative;
    /* padding: 15px; */
    width: 100%;
    /* margin: 0 auto; */
    margin-bottom: 4%;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    /* gap: 15px; */
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: var(--txColor);
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, var(--primary) 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, var(--primary) 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.item {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    opacity: 0.5;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
    /* border: 5px solid var(--primary); */
    box-shadow: 0 0 10px var(--primary);

}
/* FIM BANNER  */

/* COMEÇO FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 2%;
    /* color: white; */
}

footer span {
    text-align: center;
}

footer ul {
    list-style: none;
    color: var(--txColor);
}

footer .social {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socialLinks i, .contact i {
    margin-right: 5px;
    color: black;
} 

footer span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--txColor);
}

footer a {
    color: var(--txColor);
    text-decoration: none;
}
/* FIM FOOTER */

/* COMEÇO LOADING */
.loading-div {
    /* width: 50px; */
    margin: auto;
    display: none;
}
  
.loading-div img {
    height: 50px;
    width: 50px;
}
/* FIM LOADING */

/* COMEÇO FORMULÁRIOS */

div.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* height: 75vh; */
    width: 25vw;
    margin: 3.7% auto;
    padding-block: 50px;
    background-color: white;
    border-radius: 10px;
}

div.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.banner {
    display: flex;
    width: 100%;
    background-size: cover;
}

.form .btn {
    background-color: var(--primary);
    color: var(--txColor);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 1.5rem;
}

.form .btn:hover {
    background-color: var(--secundary);
    color: var(--txColor);
}

.form input, .form h2 {
    margin-bottom: 25px;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input, 
.inputBox textarea {
    height: 30px;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--primary);
    background: transparent;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    transition: 0.5s;
}

.inputBox label {
    color: red;
    font-size: 0.9em;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span,
.inputBox textarea:focus ~ span, 
.inputBox textarea:valid ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 1.5px 10px;
    background: var(--primary);
    border-inline: 1px solid var(--primary);
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}


.inputBox:nth-child(2) input:valid ~ span, 
.inputBox:nth-child(2) input:focus ~ span,
.inputBox textarea:focus ~ span, 
.inputBox textarea:valid ~ span {
    background: var(--primary);
    color: black;
    border-radius: 2px;
}

.inputBox input:valid, 
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 1px solid var(--primary);
}

/* COMEÇO VALIDAÇÃO -- ERRO */
.inputBox span.error {
    color: red;
}

.inputBox input:valid ~ span.error, 
.inputBox input:focus ~ span.error,
.inputBox textarea:focus ~ span.error, 
.inputBox textarea:valid ~ span.error {
    background: var(--error);
    color: white;
    border-inline: 1px solid var(--error);
    background: red;
}

.inputBox input.error,
.inputBox textarea.error{
    border: 1px solid var(--error);
    color: var(--error);
}

.inputBox input:valid.error,
.inputBox textarea:valid.error {
    color: black;
}
/* FIM VALIDAÇÃO -- ERRO*/

.inputCad {
    display: flex;
    margin-bottom: 15px;
}

.inputCad a span {
    margin-left: 5px;
}

.inputCad a {
    text-decoration: none;
    color: black;
}
/* FIM FORMULÁRIOS */