body {
    overflow-y: hidden;
}

div.form {
    width: 100%;
}

div.form h2 {
    text-align: center;
}

div.containerForm {
    height: 58vh;
    width: 25vw;
}

.banner {
    background-image: url('../assets/img/bannerLogin.jpg');
}

.inputBox label {
    bottom: 10px;
}