section h2 {
    text-align: center;
    font-size: 2.9rem;
}

section.intro .boxesIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxIntro:nth-child(2) {
    width: 400px;
    text-align: justify;
}

.boxIntro img {
    width: 500px;
}

section.intro {
    margin-bottom: 4%;
}

section.valores .boxesValores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin-bottom: 4%;
}

.valores h2 {
    text-align: center;
    /* margin-top: 5%; */
    font-size: 2.9rem;
}

.boxesValores .boxValor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    /* border: 2px solid green; */
    text-align: center;
}

.boxValor img {
    width: 200px;
}

.boxValor .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px; 
    background-color: var(--primary);
}

section.palavraCruzada {
    width: 100%;
    height: 88vh;
    background-repeat: no-repeat;
    background-image: url("../assets/img/img-minigame.jpg");
    background-size: cover;
    margin-bottom: 4%;
}

section.palavraCruzada .minigame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.palavraCruzada .minigame .panel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    padding: 50px;
}

.panel h2 {
    font-size: 2.9rem;
}

.panel .btnGame {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    font-size: 1.5rem;
}

.panel .btnGame:hover {
    background-color: black;
}

/* div#map {
    height: 100%;
} */

.inputBox span {
    top: 0;
    padding: 8px;
}

.inputBox span.error {
    top: 15px;
}

.btnEnviar.error {
    margin-top: 30%;
}

section.contact {
    margin-bottom: 4%;
}

section.contact h2 {
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 15px;
}

section.contact .panelContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
}

section.contact form {
    display: flex;
    gap: 20%;
}

section.contact .formInputs input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 5px;
}

section.contact form .formInputs {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    gap: 15%;
}

section.contact form .formInputs2 {
    display: flex;
    flex-direction: column;
} 

section.contact form .formInputs2 textarea {
    height: 129px; 
    width: 250px;
    border-radius: 10px;
}

form label {
    font-size: 1.5rem;
}

form .formInputs input:not(:last-child) {
    margin-bottom: 20px;
}

.formInputs2 button {
    margin-top: 10%;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--primary);
    color: white;
    font-size: 1.2rem;
}

.formInputs2 button:hover {
    background-color: black;
}

