ul.navbar {
    width: 25%;
}

ul.navbar li button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

ul.navbar li button:hover {
    border-bottom: 3px solid var(--txColor);  
}

.cardsQuizzes {
    padding-bottom: 40px;
}

.cardsQuizzes h2{
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 20px;
}

div.boxesQuiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

div.boxesQuiz div.boxQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

div.boxQuiz h3 {
    font-family: 'saiyan-sans', Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    margin-bottom: 2.5%;
}

div.boxQuiz button {
    width: 200px;
    color: white;
    border: 1px solid black;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 5px;
    margin-top: 2.5%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
}

div.boxQuiz button:hover {
    background-color: var(--secundary);
}

div.boxesQuiz button a {
    padding-inline: 43.8%;
    padding-block: 2%;
    /* background-color: blue; */
    text-decoration: none;
    text-align: center;
    color: white;
}