section h2 {
    text-align: center;
    font-size: 2.9rem;
}

section.intro .boxesIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.boxIntro:nth-child(2) {
    width: 400px;
    text-align: justify;
}

.boxIntro img {
    width: 500px;
}

section.intro {
    margin-bottom: 4%;
}

/* COMEÇO SECTION PERSONAGENS */

/* section.personagens {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.slider-container {
    max-width: 1300px;
    width: 100%;
    /* background-color: green; */
    padding: 40px;
}

.slider-content {
    margin: 0 40px;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: var(--secundary);
}

.image-content, 
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    height: 200px;
    gap: 20px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    justify-content: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    border-radius: 25px 25px 0 25px;
}

.overlay:before,
.overlay:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primary);
}

.overlay:after {
    border-radius: 0 25px 0 0;
    background-color: var(--secundary);
}

.card-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--secundary);
}

.name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--txColor);
}

.desc {
    font-size: 1rem;
    margin-top: 5px;
    color: var(--txColor);
    text-align: center;
    z-index: 999;
}

.btnCard {
    border: none;
    font-size: 1rem;
    color: var(--txColor);
    padding: 8px 16px;
    background-color: var(--primary);
    border: 1px solid var(--secundary);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.btnCard:hover {
    background-color: var(--secundary);
    border: 1px solid var(--primary);
}
/* FIM SECTION PERSONAGENS */

section.valores .boxesValores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
    padding: 40px;
}

.valores h2 {
    text-align: center;
    /* margin-top: 5%; */
    font-size: 2.9rem;
}

.boxesValores .boxValor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    /* border: 2px solid green; */
    text-align: center;
    gap: 5px;
}

.boxValor img {
    width: 200px;
    height: 213.94px;
}

.boxValor .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px; 
    background-color: var(--primary);
}

section.palavraCruzada {
    width: 100%;
    height: 88vh;
    background-repeat: no-repeat;
    background-image: url("../assets/img/img-minigame.jpg");
    background-size: cover;
    margin-bottom: 4%;
}

section.palavraCruzada .minigame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.palavraCruzada .minigame .panel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    padding: 50px;
}

.panel h2 {
    font-size: 2.9rem;
}

.panel .btnGame {
    background-color: var(--primary);
    color: var(--txColor);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    font-size: 1.5rem;
}

.panel .btnGame:hover {
    background-color: var(--secundary);
}

/* div#map {
    height: 100%;
} */

.inputBox span {
    top: 0;
    padding: 8px;
}

.inputBox span.error {
    top: 15px;
}

/* .btnForm.error {
    margin-top: 30%;
} */

section.contact {
    margin-bottom: 4%;
}

section.contact h2 {
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 15px;
}

section.contact .panelContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 2.5%; */
}

section.contact div.form {
    display: flex;
    flex-direction: row;
    gap: 50%;
    padding: 40px;
}

section.contact .formInputs input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 5px;
}

section.contact div.form .formInputs {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    gap: 15px;
}

section.contact div.form .formInputs2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
} 

section.contact div.form .formInputs2 textarea {
    height: 129px; 
    width: 250px;
    border-radius: 10px;
    resize: none;
}

div.form label {
    font-size: 0.9rem;
}

div.form .formInputs input:not(:last-child) {
    margin-bottom: 20px;
}

.formInputs2 button {
    /* margin-top: 10%; */
    border-radius: 10px;
    padding: 5px;
    background-color: var(--primary);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.formInputs2 button:hover {
    background-color: var(--secundary);
}

.inputBox input:valid ~ span.error, 
.inputBox input:focus ~ span.error,
.inputBox textarea:focus ~ span.error, 
.inputBox textarea:valid ~ span.error {
    top: 20px;
}
